# Question 7

In [2]:
import numpy as np
import pandas as pd

### I. Numpy

#### 1. Count no of positive integers in given numpy array.

In [3]:
arr = np.array([-4, 2, 0, 5, -1, 6])
print(f"Array: {arr}")

positive_count = np.sum(arr > 0)
print(f"Number of positive integers in the array: {positive_count}")

Array: [-4  2  0  5 -1  6]
Number of positive integers in the array: 3

#### 2. Convert array elements into lowercase, uppercase, capitalize, title, swapcases.

In [4]:
arr = np.array(['HeLlO WoRlD', '123 miXeD CaSe', 'PYTHON'])

lower_arr = np.char.lower(arr)
print(lower_arr)

upper_arr = np.char.upper(arr)
print(upper_arr)

capitalize_arr = np.char.capitalize(arr)
print(capitalize_arr)

title_arr = np.char.title(arr)
print(title_arr)

swapcase_arr = np.char.swapcase(arr)
print(swapcase_arr)

['hello world' '123 mixed case' 'python']
['HELLO WORLD' '123 MIXED CASE' 'PYTHON']
['Hello world' '123 mixed case' 'Python']
['Hello World' '123 Mixed Case' 'Python']
['hElLo wOrLd' '123 MIxEd cAsE' 'python']

#### 3. Insert the spaces between elements of the given array in numpy.

In [7]:
arr = np.array(['apple', 'banana', 'cherry'])

spaced_arr = np.char.join(" ", arr)
print(spaced_arr)

['a p p l e' 'b a n a n a' 'c h e r r y']

### II. Pandas

#### 1. Print the columns having atleast one null value in dataframe.

In [19]:
df = pd.DataFrame({'col1': [1, np.NAN, 3, 4],
                   'col2': ['a', 'b', 'c', 'd'],
                   'col3': [True, False, np.NAN, True]})
display(df)

null_columns = df.columns[df.isnull().any()]
print("Columns with at least one null value (Option 1):", null_columns)

   col1 col2   col3
0   1.0    a   True
1   NaN    b  False
2   3.0    c    NaN
3   4.0    d   True

Columns with at least one null value (Option 1): Index(['col1', 'col3'], dtype='object')

#### 2. Join two data frames along rows( have to use join only).

In [32]:
df1 = pd.DataFrame({'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']})
df2 = pd.DataFrame({'col3': [4, 5, 6], 'col4': ['d', 'e', 'f']})

display(df1.join(df2, how="outer"))

   col1 col2  col3 col4
0     1    a     4    d
1     2    b     5    e
2     3    c     6    f

#### 3. Compare two pandas series equal or not.

In [33]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([1, 2, 3])
s3 = pd.Series([1, 2, 4])

equal_s1_s2 = s1.equals(s2)
equal_s1_s3 = s1.equals(s3)

print(f"s1 and s2 are equal: {equal_s1_s2}")
print(f"s1 and s3 are equal: {equal_s1_s3}")

s1 and s2 are equal: True
s1 and s3 are equal: False

### III. IRIS Dataset